/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
}
body {
  background: #4d4d4d;
  color: #005ce6;
  width: 75%;
  margin: 0 auto;
  font-family: 'Viga', sans-serif;
}
@media screen and (max-width: 500px) {
  body {
    width: 100%;
  }
}
header {
  display: flex;
  justify-content: space-between;
  background: #262626;
  font-size: 1.5rem;
  width: 100%;
  height: 100px;
}
@media screen and (max-width: 500px) {
  header {
    flex-direction: column;
    height: 150px;
  }
}
header .title-sizing {
  width: 50%;
}
@media screen and (max-width: 500px) {
  header .title-sizing {
    width: 100%;
  }
}
header .title-sizing h1 {
  font-size: 5.5rem;
  font-weight: bold;
  padding: 5px 15px;
}
header .title-sizing p {
  letter-spacing: 3px;
  padding: 5px 15px;
}
header .nav-size {
  width: 50%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 500px) {
  header .nav-size {
    width: 100%;
  }
}
header .nav-size .topnav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
header .nav-size .topnav a {
  text-decoration: none;
  color: #005ce6;
  padding: 20px 20px;
}
header .nav-size .topnav a:hover {
  background: #1a1a1a;
}
.outer-box {
  margin: 30px auto;
  background: #008080;
  height: 600px;
  width: 100%;
}
@media screen and (max-width: 500px) {
  .outer-box {
    height: 400px;
  }
}
.outer-box .inner-box {
  background: #262626;
  margin: 50px auto;
  height: 500px;
  width: 90%;
  transform: translateY(50px);
}
@media screen and (max-width: 500px) {
  .outer-box .inner-box {
    height: 300px;
  }
}
.outer-box .inner-box .discription-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.outer-box .inner-box .discription-content img {
  padding: 30px;
}
@media screen and (max-width: 500px) {
  .outer-box .inner-box .discription-content img {
    display: none;
  }
}
.outer-box .inner-box .discription-content .discription {
  width: 500px;
  height: 250px;
  word-wrap: wrap;
}
@media screen and (max-width: 500px) {
  .outer-box .inner-box .discription-content .discription {
    margin: 15px;
    text-align: justify;
  }
}
.outer-box .inner-box .discription-content .discription h2 {
  font-size: 3rem;
  color: #005ce6;
  padding-bottom: 8px;
  margin-bottom: 10px;
  border-bottom: 2px solid #00ffcc;
  letter-spacing: 2px;
}
.outer-box .inner-box .discription-content .discription p {
  font-size: 2.3rem;
  color: #008080;
  margin: 8px;
}
.resume-img {
  border-radius: 50%;
}
.experience-wraper {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 500px) {
  .experience-wraper {
    flex-direction: column;
    width: 86%;
    margin: 0 auto;
  }
}
.experience {
  font-size: 2.5rem;
}
.experience h2 {
  text-transform: uppercase;
  font-size: 3rem;
  margin: 15px 0;
  padding-bottom: 15px;
  border-bottom: 2px solid #00ffcc;
}
.experience ul {
  width: 85%;
}
@media screen and (max-width: 500px) {
  .experience ul {
    list-style: circle;
    margin-left: 20px;
  }
}
.experience ul li {
  color: #008080;
  margin: 8px 0;
}
.experience ul li:last-child {
  margin-bottom: 75px;
}
.bottom-footer {
  font-size: 2.5rem;
  text-align: center;
  font-size: 2rem;
  width: 25%;
  margin: 75px auto;
}
.bottom-footer h2 {
  text-transform: uppercase;
  font-size: 3rem;
  margin: 15px 0;
  padding-bottom: 15px;
  border-bottom: 2px solid #00ffcc;
}
.bottom-footer ul {
  width: 85%;
}
@media screen and (max-width: 500px) {
  .bottom-footer ul {
    list-style: circle;
    margin-left: 20px;
  }
}
.bottom-footer ul li {
  color: #008080;
  margin: 8px 0;
}
.bottom-footer ul li:last-child {
  margin-bottom: 75px;
}
@media screen and (max-width: 500px) {
  .bottom-footer ul {
    list-style: none;
  }
}
@media screen and (max-width: 500px) {
  .bottom-footer {
    width: 85%;
  }
}
.bottom-footer a {
  text-decoration: none;
  color: #008080;
}
